@media screen and (max-width:1200px) {
    .container {
        width: 1024px;
    }

    h1 {
        font-size: 96px;
        line-height: 117px;
    }
    
    h2 {
        font-size: 48px;
        line-height: 70px;
    }
    
    
    h3 {
        font-size: 18px;
        line-height: 21px;
    }
    
    h4 {
        font-size: 24px;
        line-height: 28px;
    }
    
    h5 {
        font-size: 14px;
        line-height: 16px;
    }
    
    h6 {
        font-size: 13px;
        line-height: 15px;
    }












    .title {
        font-size: 24px;
        line-height: 35px;
        margin: 0 0 40px 0;
        padding-top: 50px;
    }

    .subtitle {
        font-size: 24px;
        line-height: 28px;
    }

    .separator {
        width: 148px;
        margin: 41px auto 31px auto;
    }




    .header {

        &__content {
            padding: 27px 0;

            &__logo img {
                width: 66px;
                height: 17px;
            }

            &__navigation {

                &__link {
                    font-size: 13px;
                    margin-left: 48px;

                    &::after {
                        width: 70px;
                    }
                
                &__basket {
                    margin-left: 42px;
                }

                &__loupe {
                    margin-left: 25px;
                }
                }
            }
        }
    }





    .main {
        padding-top: 81px;
        padding-bottom: 20px;

        &__title {
            margin-top: 52px;
        }

        &__subtitle {
            width: 531px;
        }

        &__btn {
            font-size: 18px;
            padding: 18px 100px;
            margin: 48 auto 0 auto;
        }

        &__slider {
            gap: 20px;
            margin-top: 79px;

            &__item {
                width: 233px;
                font-size: 24px

                & span {
                    font-size: 14px;
                }
            }
        }
    }







    .story {

        &__picture {
            margin-top: 33px;
            margin-bottom: 59px;

            &__item {
                width: 320px;
                height: 283px;

                &:hover .story__picture__item__img {
                    transform: translate(-7px, -7px);
                }
            
                &__img {

                    & img {
                        width: 320px;
                        height: 283px;
                    }
                }

                &__text {
                    font-size: 18px;
                    left: 94px;
                    bottom: 96px;

                    &::before {
                        transform: scale(0.75);
                        left: 41px;
                    }
                }
            }
        }
    }



    .numbers {

        &__all {

            &__item {
                height: 168px;

                & div {
                    font-size: 48px;
                    padding-top: 20px;
                }

                & p {
                    font-size: 15px;
                    padding-top: 20px;
                }
            }
        }
    }




    .amazing {

        &__content {
            row-gap: 80px;
            padding-bottom: 58px;

            &__item {
                gap: 32px;
                margin-top: 43px;

                & img {
                    width: 47px;
                    height: 46px;
                }

                &__text {
                    
                    & h3 {
                        font-size: 18px;
                        margin-top: 4px;
                        margin-bottom: 14px;
                    }

                    & p {
                        font-size: 14px;
                        line-height: 16px;
                    }
                }
            }
        }
    }







    .design {
        padding-bottom: 38px;

        &__separator {
            margin-bottom: 40px;
        }

        &__img {

            &_1 {
                width: 458px;
                height: 356px;
            }

            &_2 {
                width: 135px;
                height: 279px;
                top: 146px;
                right: 238px;
            }
        }
    }







    .do {
        
        &__content {
            margin-top: 65px;
            margin-bottom: 88px;
            height: 409px;

            &__img {

                & img {
                    width: 486px;
                    height: 409px;
                }
            }

            &__accordion {
                width: 486px;
                height: 409px;
                gap: 18px;

                &__item__header__button {
                    font-size: 18px;
                    height: 76px;
                    padding: 0 17px;

                    & img {
                        width: 30px;
                        height: 30px;
                    }

                    & h3 {
                        margin-left: 36px;
                    }
                }

                &__item__body {
                    height: 107px;
                    margin: 16px 20px 16px 0;
                }
            }
        }
    }






    .slider {

        &__inner__item {

            & img {
                width: 115px;
                padding: 28px 0;
            }

            &__text {
                left: 269px;
                top: 12px;
                width: 655px;

                & h5 {
                    font-size: 18px;
                    line-height: 21px;
                }

                div {
                    margin-top: -8px;

                    & .slider__inner__item__text__line {
                        width: 47px;
                        margin-right: 38px;
                    }

                    & h2 {
                        font-size: 24px;
                    }
                }
            }
        }
    }






    .team {

        &__person {
            margin: 79px 0 126px 0;

            &__item {
                width: 318px;
            

                &:first-child {
                    width: 318px;
                    height: 359px;
                    background-size: cover;
                }

                &:nth-child(2) {
                    width: 318px;
                    height: 359px;
                    background-size: cover;
                }

                &:last-child {
                    width: 318px;
                    height: 359px;
                    background-size: cover;
                }

                &:hover .team__person__item__img {
                    transform: translate(-4px, -4px);
                    width: 318px;
                    height: 359px;
                }

                &:hover .team__person__item__img img {
                    width: 318px;
                    height: 359px;
                }

                &__icon {
                    top: 167px;
                    left: 87px;

                    & img {
                        height: 35px;
                        width: 35px;
                    }
                }

                &__img {
                    width: 318px;
                    height: 359px;

                    & img {
                        width: 318px;
                        height: 359px;
                    }
                }

                & h3 {
                    font-size: 18px;
                    margin-top: 17px;
                    margin-bottom: 13px;
                }

                & p {
                    font-size: 14px;
                }
            }
        }
    }







    .icons {

        &__logo {
            padding: 49px 0;

            & img {
                width: 46px;
                height: 46px;
            }
        }
    }






    .work {
        
        &__grid {
            margin-top: 47px;

            &__item {

                &_3 {
                    & div img {
                        height: 512px;
                    }
                }

                &__img {

                    & img {
                        width: 255px;
                        height: 256px;
                    }
                }
                
                &__text {
                    top: 81px;

                    & img {
                        height: 28px;
                    }

                    & h3 {
                        width: 181px;
                        margin-top: 47px;
                        margin-bottom: 13px;
                        font-size: 18px;
                    }

                    & p {
                        font-size: 14px;
                    }

                    &_3 {
                        top: 40%;

                        & img {
                            height: 28px !important;
                        }
                    }
                }
            }
        }
    }
    




    .slider2 {
        margin: 57px 0;
    }






    .feedback {

        &__list {
            row-gap: 60px;
            padding-bottom: 49px;

            &__item {
                gap: 48px;

                &__about {

                    & h3 {
                        font-size: 18px;
                    }

                    & h6 {
                        font-weight: 400;
                        font-size: 14px;
                        margin-top: 11px;
                        margin-bottom: 18px;
                    }

                    &__separator {
                        width: 47px;
                    }

                    & p {
                        width: 317px;
                        font-size: 14px;
                        line-height: 16px;
                        margin-top: 57px;
                    }
                }
            }
        }
    }






    .blog {
        padding-bottom: 63px;

        &__list {

            & img {
                width: 316px;
                height: 214px;
            }

            &__item {
                width: 316px;

                &__data {
                    top: 125px;
                    left: -9px;
                    height: 67px;
                    width: 67px;
                    padding-top: 10px;
                    font-size: 24px;

                    & span {
                        font-size: 14px;
                        margin-top: 5px;
                    }
                }

                &__text {
                    margin: 26px 0;

                    & h3 {
                        font-size: 18px;
                        margin-bottom: 11px;
                    }

                    & p {
                        font-size: 14px;
                        line-height: 16px;
                    }
                }

                &__icon {

                    & img {
                        height: 24px;
                        width: 16px;
                    }

                    & p {
                        margin: 0 37px 0 16px;
                        font-size: 12px;
                        line-height: 14px;
                    }
                }
            }
        }
    }



    .latest {
        padding-top: 31px;
        padding-bottom: 1px;

        &__subtitle {
            margin-top: 21px;
        }
    }





    .footer {

        &__list {
            gap: 20px;

            &__item__1 {
                width: 317px;

                &__img {
                    width: 95px;
                    height: 25px;
                }

                & a {
                    margin-top: 52px;
                    margin-bottom: 32px;
                }

                & h3 {
                    font-size: 14px;
                    line-height: 16px;
                }

                & h4 {
                    font-size: 24px;
                    margin-top: 22px;
                    padding-bottom: 10px;

                    & span:first-child {
                        font-size: 14px;
                    }
    
                    & span:last-child {
                        font-size: 14px;
                    }
                }

                &__social {
                    margin-top: 4px;

                    & h5 {
                        font-size: 12px;
                    }

                    &__icons {

                        & a {
                            margin: 0 7px;
                        }
    
                        & img {
                            width: 15px;
                            height: 15px;
                        }
                    }
                }

                &__form {
                    margin-top: 24px;

                    & input {
                        height: 37px;

                        &:first-child{
                            font-size: 14px;
                        }
    
                        &:last-child {
                            font-size: 14px;
                        }
                    }
                }
            }

            &__item__2 {
                width: 400px;
                gap: 14px;

                &__title {
                    font-size: 18px;
                    margin-bottom: 8px;
                    margin-top: 55px;
                }

                &__part {
                    gap: 20px;

                    &__img img {
                        width: 115px;
                        height: 71px;
                    }

                    &__text {

                        & h3 {
                            font-size: 14px;
                            line-height: 16px;
                            margin-bottom: 15px;
                        }

                        & h5 {
                            font-size: 12px;
                        }
                    }
                }
            }

            &__item__3 {
                width: 233;
                gap: 14px;

                &__title {
                    font-size: 18px;
                    margin-top: 55px;
                }

                &__part img {
                    width: 78px;
                    height: 76px;
                }

                &__link {
                    font-size: 12px;
                }
            }
        }

        &__copyright {
            padding: 18px 0;
            margin-top: 37px;
        }
    }
}









@media screen and (max-width:1023px) {
    .container {
        width: 100%;
    }




    h1 {
        font-size: 48px;
        line-height: 59px;
    }
    
    h2 {
        font-size: 36px;
        line-height: 52px;
    }
    
    
    h3 {
        font-size: 18px;
        line-height: 21px;
    }
    
    h4 {
        font-size: 24px;
        line-height: 28px;
    }
    
    h5 {
        font-size: 13px;
        line-height: 15px;
    }
    
    h6 {
        font-size: 13px;
        line-height: 15px;
    }



    .separator {
        width: 144px;
        margin: 30px auto 21px auto;
    }






    .header {

        &__content {
            position: relative;

            &__logo img {
                width: 54px;
                height: 14px;
            }

            &__burger {
                display: block;
                position: absolute;
                top: 11px;
                right: 20px;
                width: 24px;
                height: 3px;
                cursor: pointer;
                background-color: #fff;
                z-index: 2;
            }

            #check_menu:checked ~ .header__content__navigation {
                max-height: 500px;
            }

            &__burger-line {
                display: block;
                position: absolute;
                width: 24px;
                height: 3px;
                background-color: #fff;
                top: 11px;

                &_2, &_3 {
                    top: 18px;
                }

                &_4 {
                    top: 25px;
                }
            }

            &__navigation {
                display: block;
                position: absolute;
                width: 100%;
                bottom: 0;
                left: 0;
                transform: translateY(100%);
                overflow: hidden;
                transition: 0.5s all;
                text-align: center;
                max-height: 0;

                &__link {
                    display: block;
                    width: 100%;
                    padding: 27px;
                    margin: 0 auto;
                }
            }
        }
    }






    .main {
        padding-top: 68px;
        padding-bottom: 42px;

        &__title {
            margin-top: 50px;
        }

        &__subtitle {
            width: 271px;
        }

        &__btn {
            padding: 17px 80px;
        }

        &__slider {
            margin-top: 53px;

            &__item {
                width: 57px;
                font-size: 0;

                & span {
                    font-size: 0;
                }

                &:first-child {
    
                    &:before {
                        width: 57px;
                    }
                }
            }
        }
    }



    .story {

        &__text {
            width: 288px;
            margin: 0 auto;
        }

        &__picture {
            flex-direction: column;
            align-items: center;
            gap: 16px;

            &__item {
                width: 288px;
                height: 258px;
                overflow: hidden;
                background: url(/img/story_1.jpg);
                background-size: cover;

                &:nth-child(2) {
                    background: url(/img/story_2.jpg);
                    background-size: cover;
                }

                &:hover .story__picture__item__img {
                    transform: translate(0, 175px);
                    
                }

                &__img {

                    & img {
                        width: 288px;
                        height: 258px;
                    }
                }

                &__text {
                    left: 77px;
                    bottom: 31px;

                    &::before {
                        left: -60px;
                        top: -11px;
                    }
                }
            }
        }
    }





    .numbers {

        &__all {
            flex-wrap: wrap;
            width: 320px;
            margin: 0 auto;

            &__item {
                border-left: none;
                width: 50%;
                height: 124px;
                border-bottom: 1px solid #FFFFFF;

                &:last-child {
                    width: 100%;
                    text-align: center;
                    border-left: none;
                    border-right: none;
                }

                & div {
                    padding-top: 2px;
                }
            }
        }
    }




    .amazing {

        &__content {
            row-gap: 36px;

            &__item {
                width: 100%;
                justify-content: center;
                gap: 20px;
                margin-top: 0;

                &:first-child {
                    margin-top: 40px;
                }

                &__text {
                    width: 211px;
                }
            }
        }
    }





    .design {
        padding-bottom: 25px;

        &__img {

            &_1 {
                width: 286px;
                height: 219px;
            }

            &_2 {
                width: 85px;
                height: 175px;
                top: 92px;
                right: 75px;
            }
        }
    }




    .do {

        &__text {
            width: 288px;
            margin: 0 auto;
        }

        &__content {
            flex-direction: column;
            align-items: center;
            margin-top: 65px;
            height: 582px;

            &__img {

                & img {
                    width: 288px;
                    height: 142px;
                }
            }

            &__accordion {
                width: 288px;
                height: 410px;
                gap: 19px;

                &__item__header__button {
                    font-size: 14px;
                }
            }
        }
    }



    .slider {

        &__inner__item {

            width: 288px;

            &__img {
                opacity: 0;
            }

            &__text {
                width: 288px;
                left: 0;

                & h5 {
                    font-size: 14px;
                    line-height: 16px;
                }

                div {

                    & h2 {
                        font-size: 18px;
                    }
                }
            }
        }
    }




    .team {

        &__text {
            width: 271px;
            margin: 0 auto;
        }

        &__person {
            flex-direction: column;
            align-items: center;
            gap: 102px;
            
            &__item {
                width: 236px;

                &:first-child {
                    width: 288px;
                    height: 236px;
                }

                &:nth-child(2) {
                    width: 288px;
                    height: 236px;
                }

                &:last-child {
                    width: 288px;
                    height: 236px;
                }

                &:hover .team__person__item__img {
                    transform: translate(0, 0);
                    width: 288px;
                    height: 236px;
                }

                &:hover .team__person__item__img img {
                    display: none;
                }

                &__icon {
                    opacity: 1;
                    top: 194px;
                    left: 117px;

                    & img {
                        height: 42px;
                        width: 42px;
                    }
                }

                &__img {
                    width: 288px;
                    height: 236px;
                    background: none;

                    & img {
                        display: none;
                    }
                }

                & h3 {
                    margin-top: 15px;
                    margin-bottom: 11px;
                }
            }
        }
    }





    .icons {

        &__logo {
            flex-wrap: wrap;
            width: 288px;
            margin: 0 auto;
            row-gap: 36px;

            & img {

                &:nth-child(1) {
                    width: 50%;
                }
                &:nth-child(2) {
                    width: 50%;
                }
                &:nth-child(3) {
                    width: 100%;
                }
                &:nth-child(4) {
                    width: 50%;
                }
                &:nth-child(5) {
                    width: 50%;
                }
                &:nth-child(6) {
                    width: 100%;
                }
            }
        }
    }













}