@import 'zeroing.scss';
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@700&family=Raleway:ital,wght@0,400;0,600;0,700;0,900;1,400;1,500&display=swap");
@import 'bootstrap.min.css';



* {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
}

h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 144px;
    line-height: 176px;
    text-transform: uppercase;
    color: black;
}

h2 {
    font-family: 'Kaushan Script';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 93px;
    color: #000000;
}


h3 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
}

h4 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #000000;
}

h5 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

h6 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    color: #000000;
}





.title {
    font-family: 'Kaushan Script';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    text-align: center;
    margin: 0 0 45px 0;
    padding-top: 65px;
}


.subtitle {
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
}





.separator {
    height:4px;
    width: 170px;
    margin: 45px auto 40px auto;
    background-color: #F38281
}



.text {
    text-align: center;
}







.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}










.header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;


    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 37px 0;

        &__navigation {
            
            &__link {
                font-weight: 600;
                font-size: 14px;
                text-transform: uppercase;
                color: #FFFFFF;
                margin-left: 63px;
                position: relative;
                transition: all 0.2s linear;

                &:after {
                    content: '';
                    position: absolute;
                    bottom: -6px;
                    left: 50%;
                    transform: translateX(-50%);
                    z-index: 2;
                    display: none;
                    background-color: #F4BF87;
                    height: 1px;
                    width: 85px;
                    transition: all 0.2s linear;
                }

                &:hover {
                    color: #F4BF87;
                    transition: all 0.2s linear;
                }

                &:hover:after {
                    display: block;
                    transition: all 0.2s linear;
                }

                &:first-child {
                    margin-left: 0;
                }
            }

            &__basket {
                margin-left: 40px;

                &:hover {
                    color: #F4BF87;
                }
            }
            &__loupe {
                margin-left: 34px;

                &:hover {
                    color: #F4BF87;
                }
            }
        }
    }
}








.main {
    background: url(/img/main_bg.jpg) no-repeat center center;
    background-size: cover;
    padding-top: 101px;
    padding-bottom: 30px;
    width: 100%;

    &__title {
        text-align: center;
        margin-top: 77px;
        color: #FFFFFF;
    }

    &__subtitle {
        width: 806px;
        color: #FFFFFF;
        text-align: center;
        margin: 0 auto;
    }

    &__separator {
        background-color: #FFFFFF;
    }

    &__btn {
        font-weight: 700;
        font-size: 24px;
        color: #FFFFFF;
        padding: 28px 105px;
        border: 4px solid #FFFFFF;
        margin: 74 auto 0 auto;
        display: block;

        &:hover {
            background: #FFFFFF;
            color: #E4BE8D;
        }

        &:active {
            background: #FFFFFF;
            border: 4px solid #E4BE8D;
            color: #E4BE8D;
        }
    }

    &__slider {
        display: flex;
        justify-content: center;
        gap: 30px;
        margin-top: 116px;
        

        &__item {
            width: 270px;
            font-weight: 700;
            font-size: 36px;
            color: #FFFFFF;
            border-top: 4px solid #FFFFFF;
            opacity: 0.8;

            & span {
            font-weight: 400;
            font-size: 18px;
            }

            &:first-child {
                opacity: 1;
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    top: -4px;
                    left: 0;
                    width: 70px;
                    background-color: #F38281;
                    height: 4px;
                }
            }
        }
    }
}








.story {

    &__picture {
        display: flex;
        justify-content: center;
        gap: 30px;
        margin-top: 95px;
        margin-bottom: 108px;

        &__item {

            background-color: #95E1D3;
            width: 370px;
            position: relative;

            &:hover .story__picture__item__text {
                opacity: 1;
            }

            &:hover .story__picture__item__img {
                transform: translate(-16px, -16px);
            }

            &:hover .story__picture__item__img img {
                opacity: 0;
            }

            &__img {
                background: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);
                transition: transform 0.2s linear;

                & img {
                    transition: opacity 0.2s linear;
                }
            }

            &__text {
                font-weight: 500;
                font-size: 24px;
                color: #FFFFFF;
                position: absolute;
                bottom: 127px;
                left: 77px;
                opacity: 0;
                transition: opacity 0.2s linear;

                &::before {
                    content: url('/img/story_text_before.svg');
                    position: absolute;
                    left: 58px;
                    top: -72px;
                    
                }
            }
        }
    }
}












.numbers {
    background-color:  #95E1D3;

    &__all {
        display: flex;
        justify-content: space-between;

        &__item  {
            border-left: 1px solid #FFFFFF;
            width: 20%;
            height: 250px;
            text-align: center;

            &:last-child {
                border-right: 1px solid #FFFFFF;
            }
            
            & div {
                font-weight: 700;
                font-size: 64px;
                line-height: 75px;
                color: #FFFFFF;
                padding-top: 86px;
            }

            & p {
                font-weight: 700;
                font-size: 16px;
                color: #FFFFFF;
                padding-top: 24px;
            }
        }
    }
}







.amazing {

    &__content {
        display: flex;
        flex-wrap: wrap;
        row-gap: 100px;
        padding-bottom: 91px;

        &__item {
            width: 33.33333%;
            display: flex;
            gap: 39px;

            &__text {
                display: flex;
                flex-direction: column;

                & h3 {
                    font-size: 24px;
                    text-transform: uppercase;
                    color: #2D3033;
                    margin-top: 67px;
                    margin-bottom: 24px;
                }

                & p {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 21px;
                    color: #2D3033;
                }
            }
        }
    }
}












.design {
    background: url(/img/design_bg.png) no-repeat center center;
    background-size: cover;
    padding-bottom: 44px;

    &__title {
        padding-top: 70px;
    }

    &__separator {
        margin-bottom: 59px;
    }

    &__img {
        display: block;
        text-align: center;
        margin: 0 auto;
        width: 100%;
        position: relative;

        &_2 {
            position: absolute;
            top: 212px;
            right: 185px;
            z-index: 10;
        }
    }
}







.do {

    &__content {
        
        margin-top: 80px;
        margin-bottom: 114px;
        height: 483px;
        display: flex;
        justify-content: space-between;

        &__accordion {
            width: 550px;
            height: 483px;
            display: flex;
            flex-direction: column;
            gap: 22px;

            &__item {
                border: 1px solid #C6CBCD !important;
                border-radius: 0% !important;

                &__header {

                    &__button {
                        height: 90px;
                        font-size: 24px;
                        text-transform: uppercase;
                        color: #2D3033;
                        padding: 0 20px;

                        &:not(.collapsed) {
                            background-color: #FFFFFF;
                            color: #C6CBCD;
                            border-bottom: 1px solid #C6CBCD;

                            &:after {
                                background-image: ;
                            }
                        }

                        &:focus {
                            border-color: none;
                            box-shadow: none;
                        }
                        

                        & h3 {
                            margin-bottom: 0;
                            margin-left: 43px;
                        }

                    }
                }

                &__body {
                    padding: 22px;
                    height: 163;

                    & h5 {
                        font-size: 18px;
                        color: #2D3033;
                        line-height: 21px;
                        margin: 0;
                    }

                }
            }
        }
    }
}
















.team {
    &__person {
        display: flex;
        justify-content: center;
        gap: 30px;
        margin: 57px 0 84px 0;

        &__item {
            display: block;
            text-align: center;
            width: 370px;
            position: relative;

            &:first-child {
                background: url(/img/team_p1.png) no-repeat;
            }

            &:nth-child(2) {
                background: url(/img/team_p2.png) no-repeat;
            }

            &:last-child {
                background: url(/img/team_p3.png) no-repeat;
            }

            &:hover .team__person__item__icon {
                opacity: 1;
                transition: opacity 0.2s linear;
            }

            &:hover .team__person__item__img {
                transform: translate(-16px, -16px);
                transition: transform .2s linear;
            }

            &:hover .team__person__item__img img {
                opacity: 0;
                transition: opacity 0s linear;
            }

            &__icon {
                opacity: 0;
                transition: opacity 0.2s linear;
                position: absolute;
                top: 191px;
                left: 100px;
                display: flex;
                justify-content: center;
                gap: 1px;
            }

            &__img {
                background: linear-gradient(360deg, #edd789e6 0%, #e98283e6 100%);
                transition: transform 0s linear;

                & img {
                    opacity: 1;
                    transition: opacity 0.7s linear;
                }
            }


            & h3 {
                font-size: 24px;
                line-height: 28px;
                margin-top: 30px;
                margin-bottom: 37px;
            }

            & p {
                font-weight: 400;
                font-size: 18px;
                line-height: 21px;
            }
        }
    }
}










.icons {
    background:  #F8F8F8;

    &__logo {
        display: flex;
        justify-content: space-between;
        padding: 74px 0;
    }
}





.work {
    

    &__grid {
        display: grid;
        justify-content: center;
        margin-top: 70px;
        grid-template-columns: repeat(4, auto);
        grid-template-rows: repeat(2, auto);

        &__item {
            position: relative;

            &:hover .work__grid__item__text  {
                opacity: 1;
            }

            &:hover .work__grid__item__img img {
                opacity: 0.2;
            }

            &_3 {
                grid-column: 3;
                grid-row: 1 / 3;
            }

            &__img {
                background: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);
                transition: transform .2s linear;
                
                & img {
                    transition: opacity .2s linear;
                    display: block;
                    max-width: 100%;
                    height: auto;

                    &:hover {
                        opacity: 0.2;
                    }
                }
            }

            &__text {
                position: absolute;
                top: 122px;
                left: 50%;
                transform: translateX(-50%);
                transition: opacity .2s linear;
                opacity: 0;
                display: block;
                text-align: center;

                & h3 {
                    margin-top: 72px;
                    margin-bottom: 14px;
                    font-size: 24px;
                    color: #fff;
                    text-transform: uppercase;
                    width: 242px;
                }

                & p {
                    font-weight: 400;
                    font-size: 18px;
                    color: #fff;
                }

                &:hover {
                    opacity: 1;
                }
                
                &_3 {
                    top:40%;
                }
            }
        }
    }
}










.feedback {
    background: url(/img/feedback_bg.jpg) no-repeat center center;
    background-size: cover;

    &__list {
        display: flex;
        flex-wrap: wrap;
        row-gap: 80px;
        padding-bottom: 67px;
        justify-content: space-between;

        &__item {
            width: 49%;
            display: flex;
            gap: 50px;

            &__img {
                margin-top: 3px;
            }

            &__about {
                
                & h3 {
                    font-size: 24px;
                    color: #2D3033;
                    text-transform: uppercase;
                }

                & h6 {
                    font-size: 18px;
                    margin-top: 18px;
                    margin-bottom: 28px;
                    color: #2D3033;
                }

                &__separetor {
                    height: 3px;
                    width: 70px;
                    background-color: #F38281;
                }

                & p {
                    width: 369px;
                    margin-top: 56px;
                    font-weight: 400;
                    font-size: 18px;
                    color: #2D3033;
                }
            }
        }
    }
}





.blog {
    padding-bottom: 90px;

    &__list {
        display: flex;
        justify-content: space-between;

        &__item {
            width: 370px;
            position: relative;

            &__data {
                position: absolute;
                top: 148px;
                left: -7px;
                height: 80px;
                width: 80px;
                background-color: #95E1D3;
                font-weight: 700;
                font-size: 36px;
                color: #FFFFFF;
                text-align: center;
                padding-top: 10px;

                & span {
                    display: block;
                    font-weight: 500;
                    font-size: 18px;
                    color: #FFFFFF;
                    margin-top: 7px;
                    text-align: center;
                }
            }

            &__text {
                    margin: 30px 0;
                & h3 {
                    font-size: 24px;
                    text-transform: uppercase;
                    color: #2D3033;
                    margin-bottom: 14px;
                }

                & p {
                    color: #2D3033;
                    font-weight: 400;
                    font-size: 18px;
                }
            }

            &__icon {
                display: flex;
                align-items: center;
                
                & p {
                    margin: 0 52px 0 15px;
                    font-weight: 400;
                    font-size: 13px;
                    color: #2D3033;
                }
            }
        }
    }
}




.latest {
    background: url(/img/latest_bg.png) no-repeat center center;
    background-size: cover;
    width: 100%;
    padding-top: 45px;
    padding-bottom: 2px;


    & img {
        display: block;
        margin: 0 auto;
    }


    &__subtitle {
        color: #F38281;
        margin-top: 31px;
    }
}







.footer {

    &__list {
        display: flex;
        justify-content: space-between;
        gap: 30px;

        &__item__1 {
            width: 370px;
            display: flex;
            flex-direction: column;

            & a {
                margin-top: 80px;
                margin-bottom: 46px;
            }

            & h3 {
                font-weight: 400;
                font-size: 18px;
                line-height: 21px;
                color: #C6CBCD;
            }

            & h4 {
                margin-top: 48px;
                font-size: 36px; 
                color: #2D3033;
                padding-bottom: 20px;
                border-bottom: 1px solid #C6CBCD;

                & span:first-child {
                    font-weight: 700;
                    font-size: 18px;
                }

                & span:last-child {
                    font-weight: 400;
                    font-size: 18px;
                }
            }

            &__social {
                margin-top: 12px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                & h5 {
                    font-style: italic;
                    font-size: 13px;
                    color: #C6CBCD;
                }

                &__icons {
                    display: flex;
                    align-items: center;

                    & a {
                        margin: 0 5px;
                    }
                }
            }

            &__form  {
                margin-top: 46px;
                display: flex;

                & input{
                    height: 55px;

                    &:first-child{
                        width: 75%;
                        border-top: 1px solid #C6CBCD;
                        border-left: 1px solid #C6CBCD;
                        border-bottom: 1px solid #C6CBCD;
                        font-size: 18px;
                        text-align: center;
                        color: #C6CBCD;
                    }

                    &:last-child {
                        width: 38%;
                        background: #95E1D3;
                        font-weight: 700;
                        font-size: 18px;
                        color: #FFFFFF;

                        &:hover {
                            background: #87D2C4;
                        }

                        &:active {
                            background: #5C958A;
                        }
                    }
                }
            }
        }

        &__item__2 {
            color: #2D3033;
            width: 470px;
            display: flex;
            flex-direction: column;
            gap: 20px;

            &__title {
                font-size: 24px;
                margin-bottom: 20px;
                margin-top: 80px;
            }

            &__part {
                display: flex;
                gap: 30px;

                &__text {

                    & h3 {
                        font-size: 18px;
                        text-transform: uppercase;
                        line-height: 21px;
                        margin-bottom: 16px;
                    }

                    & h5 {
                        font-size: 13px;
                    }
                }
            }
        }

        &__item__3 {
            color: #2D3033;
            width: 270px;
            display: flex;
            flex-direction: column;
            gap: 40px;

            &__title {
                font-size: 24px;
                // margin-bottom: 13px;
                margin-top: 80px;
            }

            &__part {
                display: grid;
                grid-template-columns: repeat(3, auto);
                grid-template-rows: repeat(3, auto);
            }

            &__link {
                font-family: 'Raleway';
                font-weight: 400;
                font-size: 13px;
                color: #2D3033;
                text-decoration-line: underline;
                text-transform: uppercase;
            }
        }
    }

    &__copyright {
        text-align: center;
        padding: 20px 0;
        margin-top: 42px;
        border-top: 1px solid #C6CBCD;

        & h6 {
            color: #2D3033;
            text-transform: uppercase;
        }
    }
}










































